<?php ob_start('compress_circles'); ?><section class="svg-circles"><h3 class="h3">Palettes for Vector Images</h3><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 384 96" class="{{ slug %>">

<g class="circle-1">
  <g class="circle_a7"><circle fill="#<%- base["A7"]["hex"] %>" cx="57" cy="48" r="40"/></g>
  <g class="circle_a6"><circle fill="#<%- base["A6"]["hex"] %>" cx="57" cy="48" r="35"/></g>
  <g class="circle_a5"><circle fill="#<%- base["A5"]["hex"] %>" cx="57" cy="48" r="30"/></g>
  <g class="circle_a4"><circle fill="#<%- base["A4"]["hex"] %>" cx="57" cy="48" r="25"/></g>
  <g class="circle_a3"><circle fill="#<%- base["A3"]["hex"] %>" cx="57" cy="48" r="20"/></g>
  <g class="circle_a2"><circle fill="#<%- base["A2"]["hex"] %>" cx="57" cy="48" r="15"/></g>
  <g class="circle_a1"><circle fill="#<%- base["A1"]["hex"] %>" cx="57" cy="48" r="10"/></g>
  <g class="circle_a0"><circle fill="#<%- base["A0"]["hex"] %>" cx="57" cy="48" r="5"/></g>
</g>

 <g class="circle-2">
  <g class="circle_b7"><circle fill="#<%- base["B7"]["hex"] %>" cx="147" cy="48" r="40"/></g>
  <g class="circle_b6"><circle fill="#<%- base["B6"]["hex"] %>" cx="147" cy="48" r="35"/></g>
  <g class="circle_b5"><circle fill="#<%- base["B5"]["hex"] %>" cx="147" cy="48" r="30"/></g>
  <g class="circle_b4"><circle fill="#<%- base["B4"]["hex"] %>" cx="147" cy="48" r="25"/></g>
  <g class="circle_b3"><circle fill="#<%- base["B3"]["hex"] %>" cx="147" cy="48" r="20"/></g>
  <g class="circle_b2"><circle fill="#<%- base["B2"]["hex"] %>" cx="147" cy="48" r="15"/></g>
  <g class="circle_b1"><circle fill="#<%- base["B1"]["hex"] %>" cx="147" cy="48" r="10"/></g>
  <g class="circle_b0"><circle fill="#<%- base["B0"]["hex"] %>" cx="147" cy="48" r="5"/></g>
</g>

<g class="circle-3">
  <g class="circle_c7"><circle fill="#<%- base["C7"]["hex"] %>" cx="237" cy="48" r="40"/></g>
  <g class="circle_c6"><circle fill="#<%- base["C6"]["hex"] %>" cx="237" cy="48" r="35"/></g>
  <g class="circle_c5"><circle fill="#<%- base["C5"]["hex"] %>" cx="237" cy="48" r="30"/></g>
  <g class="circle_c4"><circle fill="#<%- base["C4"]["hex"] %>" cx="237" cy="48" r="25"/></g>
  <g class="circle_c3"><circle fill="#<%- base["C3"]["hex"] %>" cx="237" cy="48" r="20"/></g>
  <g class="circle_c2"><circle fill="#<%- base["C2"]["hex"] %>" cx="237" cy="48" r="15"/></g>
  <g class="circle_c1"><circle fill="#<%- base["C1"]["hex"] %>" cx="237" cy="48" r="10"/></g>
  <g class="circle_c0"><circle fill="#<%- base["C0"]["hex"] %>" cx="237" cy="48" r="5"/></g>
</g>

<g class="circle-4">
  <g class="circle_d7"><circle fill="#<%- base["D7"]["hex"] %>" cx="327" cy="48" r="40"/></g>
  <g class="circle_d6"><circle fill="#<%- base["D6"]["hex"] %>" cx="327" cy="48" r="35"/></g>
  <g class="circle_d5"><circle fill="#<%- base["D5"]["hex"] %>" cx="327" cy="48" r="30"/></g>
  <g class="circle_d4"><circle fill="#<%- base["D4"]["hex"] %>" cx="327" cy="48" r="25"/></g>
  <g class="circle_d3"><circle fill="#<%- base["D3"]["hex"] %>" cx="327" cy="48" r="20"/></g>
  <g class="circle_d2"><circle fill="#<%- base["D2"]["hex"] %>" cx="327" cy="48" r="15"/></g>
  <g class="circle_d1"><circle fill="#<%- base["D1"]["hex"] %>" cx="327" cy="48" r="10"/></g>
  <g class="circle_d0"><circle fill="#<%- base["D0"]["hex"] %>" cx="327" cy="48" r="5"/></g>
</g>
</svg>
</section><?php ob_end_flush(); function compress_circles($buffer) {
  $search = array("/>[[:space:]]+/", "/[[:space:]]+</");
  $replace = array(">","<");
  return preg_replace($search, $replace, $buffer);
}
?>
